<ion-row [id]="'episode-' + episode.number" class="main-container" [ngClass]="{ 'current': isCurrentEpisode }">

  <div class="episode-container"
       [ngStyle]="{'background': episode.cover ?
       'linear-gradient(to top, rgb(18, 18, 18), transparent), url(' + episode.cover + ')' :
       'linear-gradient(to top, rgb(18, 18, 18), rgba(44,34, 44,.9))'}">

    <ion-button class="play-button" fill="transparent" *ngIf="episodeIsAvailable(episode)"
                (click)="handlePlayAction()">
      <ion-icon name="play-outline" size="large" *ngIf="!loading"></ion-icon>
      <ion-spinner *ngIf="loading" name="dots" color="dark"></ion-spinner>
    </ion-button>
    <ion-row class="info-row">
      <ion-col class="ep-label ion-align-self-center">
        <ion-row>
          {{ episode.season_label }} {{ episode.episode_label }}
        </ion-row>
      </ion-col>
      <ion-col size="5" class="speed-tracker ion-align-self-center">
        <!--        <ion-row class="ion-no-margin ion-justify-content-end">-->
        <!--          <label *ngIf="downloading && speed && episode.progress !== 1">{{ speed }}<span>Mb/s</span></label>-->
        <!--          <label class="ready" *ngIf="episode.progress === 1">Ready</label>-->
        <!--          <ion-button fill="clear" color="danger" class="delete-button" *ngIf="episode.magnetURI" (click)="deleteTorrent()">-->
        <!--            <ion-icon name="trash-outline" size="small"></ion-icon>-->
        <!--          </ion-button>-->
        <!--        </ion-row>-->
      </ion-col>
    </ion-row>
    <ion-progress-bar class="progress-bar" [value]="progress"
                      *ngIf="episode.progress && episode.progress !== 1"></ion-progress-bar>
  </div>

  <ion-col class="extra-container" [ngClass]="{ 'selected': opened }">

      <ion-row class="ion-justify-content-between">
        <ion-col class="ion-no-padding">
          <h2 class="ion-padding-bottom ion-padding-end">{{ episode.title }}</h2>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <h4 class="ion-padding-bottom ion-text-end">{{ episode.aired_at | dateAgo }}</h4>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="9" class="ellipsis-3">{{ episode.overview }}</ion-col>
        <ion-col size="3" class="ion-no-margin">
          <ion-row class="ion-justify-content-end">
            <label class="speed" *ngIf="downloading && speed && episode.progress !== 1">{{ speed }}
              <span>Mb/s</span></label>
            <label class="ready" *ngIf="episode.progress === 1">Ready</label>
            <ion-button fill="clear" color="danger" class="delete-button" *ngIf="episode.magnetURI"
                        (click)="deleteTorrent()">
              <ion-icon name="trash-outline" size="small"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

  </ion-col>


</ion-row>
