<ion-header>
  <ion-toolbar class="ion-padding-horizontal" [mode]="'ios'">
    <ion-buttons slot="primary">
      <ion-button (click)="search()" class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-list mode="ios">
        <ion-item>
          <ion-select value="All" okText="OK" cancelText="Cancel" [(ngModel)]="filters.platform"
                      (ionChange)="applyFilters($event)">
            <ion-select-option value="">All Platforms</ion-select-option>
            <ion-select-option value="netflix">Netflix</ion-select-option>
            <ion-select-option value="disney_plus">Disney+</ion-select-option>
            <ion-select-option value="amazon_prime">Prime Video</ion-select-option>
            <ion-select-option value="hbo_max">HBO Max</ion-select-option>
            <ion-select-option value="hbo">HBO</ion-select-option>
            <ion-select-option value="hulu">Hulu</ion-select-option>
            <ion-select-option value="fx_tveverywhere">FX</ion-select-option>
            <ion-select-option value="apple_tv_plus">Apple TV</ion-select-option>
            <ion-select-option value="amc">AMC</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-buttons>
    <ion-searchbar [showClearButton]="'never'" animated placeholder="Search Series" [(ngModel)]="searchString" (search)="search()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="ion-padding-top">

  <ion-grid>
    <ion-row class="ion-justify-content-center scroll-container" #scroller>
      <ion-col *ngFor="let s of shows" class="card-container ion-margin-bottom" size="auto">
        <app-preview-card [show]="s"></app-preview-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</div>
