<ion-app>

  <ion-header>
    <ion-toolbar class="ion-padding-horizontal draggable" [mode]="'ios'">
      <ion-title class="ion-text-center" color="dark">{{ currentRoute.replace('-', ' ') | titlecase }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="minimize()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="close()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar class="ion-padding-horizontal sub-nav" [mode]="'ios'">
      <ion-buttons slot="start" class="route-buttons">
        <ion-button (click)="navigateTo(['/series', 'discover'])">
          <ion-label>TV Shows</ion-label>
        </ion-button>
        <ion-button (click)="navigateTo(['/series', 'calendar'])">
          <ion-label>Calendar</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" class="route-buttons">
        <ion-searchbar [showClearButton]="'never'" animated placeholder="Search Series" [(ngModel)]="searchString"
                       (ngModelChange)="searched = false" (search)="search()"></ion-searchbar>
        <ion-button (click)="search()" class="search-btn" *ngIf="!searched">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button (click)="searchString = ''; searched = false; search()" class="search-btn" *ngIf="searched">
          <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="navigateTo(['/series', 'my-list'])">
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>

  </ion-header>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
