<ion-card *ngIf="!show.banner" class="card-container" [ngStyle]="{'background-image': 'url(' + show.poster + ')'}" (click)="navigateShow()">
  <ion-card-content class="hover-content">
    <ion-card-title>{{ show.title }}</ion-card-title>
    <ion-card-subtitle>{{ show.released_on | date: 'YYYY' }}</ion-card-subtitle>
    <ion-row class="ion-padding-top" *ngIf="show.imdb_rating">
      <ion-img src="assets/pics/imdb_logo.png" class="imdb-logo"></ion-img>
      <ion-card-subtitle>{{ show.imdb_rating }}</ion-card-subtitle>
    </ion-row>
    <ion-card-subtitle class="ion-padding-top" *ngIf="show.season_count">
      <span style="font-size: 20px;">{{ show.season_count }}</span> Season<span *ngIf="show.season_count > 1">s</span>
    </ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="show.banner" class="card-container banner"
          [ngStyle]="{'background-image': 'url(' + show.banner + ')'}" (click)="navigateFromCalendar()">
  <ion-card-content class="hover-content">
    <ion-row class="ion-align-items-center">
      <ion-card-title class="ellipsis-1">{{ show.title }} <span style="font-size: 18px;">{{ show['episode_label'] }}</span></ion-card-title>
    </ion-row>
  </ion-card-content>
</ion-card>
