<ion-content class="ion-padding" #calendarContainer>

  <ion-grid class="scroll-container">
    <ion-col class="ion-justify-content-center" *ngFor="let day of days">
      <ion-item class="ion-padding-top day" [id]="(day.date | date: 'dd-MMM')">
        {{ day.date | date: 'dd MMM' }} <label class="day-time-ago" [ngClass]="">{{ day.date | dateAgo }}</label>
      </ion-item>
      <ion-row class="day-container">
        <ion-col *ngFor="let episode of day.episodes" class="card-container ion-margin-bottom" size="auto">
          <app-preview-card [show]="episode"></app-preview-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>

</ion-content>
