<ion-card color="light"
          [ngStyle]="{'background': 'linear-gradient(to bottom, rgb(18, 18, 18, .9), rgba(18,18,18,.8)), url(' + show?.poster + ')'}"
          *ngIf="show">
  <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </ion-button>
      <ion-card-title>{{ show?.title }}
        <span>{{ show?.season_count }} Season<span class="ion-no-margin" *ngIf="show?.season_count > 1">s</span></span>
        <span>{{ show?.released_on | date : 'YYYY' }}</span>
      </ion-card-title>
    </ion-row>
  </ion-card-header>

  <ion-card-content class="ion-margin-bottom ion-padding-bottom">
    <ion-row>
      <ion-col size="12" size-lg="10" size-xl="6">
        <h2>{{ show?.overview }}</h2>
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-card-content class="ion-margin-top ion-no-padding ion-padding-start" *ngIf="season">
    <ion-row class="ion-justify-content-between">
      <ion-select placeholder="Select Season" class="ion-no-padding" interface="action-sheet"
                  [(ngModel)]="currentSeason" (ionChange)="fetchSeason()">
        <ion-select-option *ngFor="let s of seasonsArray; let i = index" [value]="i + 1">
          Season {{ i + 1 }}</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <ion-card-subtitle>{{ season.episodes.length }} Episodes <span
        class="ion-padding-horizontal">|</span> {{ season.aired_at | date : 'YYYY' }}</ion-card-subtitle>
<!--      <ion-row class="ion-margin-end">-->
<!--        <ion-button fill="clear" (click)="scrollSeason(season.id, false)">-->
<!--          <ion-icon name="chevron-up-outline" size="large" class="ion-margin-end"></ion-icon>-->
<!--        </ion-button>-->
<!--        <ion-button fill="clear" (click)="scrollSeason(season.id, true)">-->
<!--          <ion-icon name="chevron-down-outline" size="large" class="ion-margin-start ion-margin-end"></ion-icon>-->
<!--        </ion-button>-->
<!--      </ion-row>-->
    </ion-row>
    <ion-grid class="ion-margin-top ion-justify-content-end scroll-container" [id]="season.id">
      <ion-col class="ion-justify-content-start nowrap season-row">
        <ion-row *ngFor="let ep of season.episodes" class="ion-margin-bottom card-col" size="auto">
          <app-episode-card
            [episode]="ep"
            [show]="show"
            [isCurrentEpisode]="currentSeason.toString() === season.number.toString() && currentEpisode.toString() === ep.number.toString()">
          </app-episode-card>
        </ion-row>
      </ion-col>
    </ion-grid>
  </ion-card-content>


</ion-card>

