app-series-detail {
  .scroll-container {
    height: calc(100vh - 375px);
    //overflow-y: hidden;
    overflow-y: auto;


    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-corner {
      background: rgba(20, 20, 20, .6);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      //border-radius: 6px;
      border: 1px solid rgba(20, 20, 20, .6);
      background-clip: content-box;
      min-width: 20px;
      max-width: 20px;
      min-height: 32px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(20, 20, 20, .6);
    }

  }


  ion-card {
    height: 100%;
    background-size: cover !important;
  }

  ion-card-title {
    font-size: 72px;

    span {
      margin-left: 2rem;
      font-size: 20px;
      opacity: .9;
    }
  }

  ion-button {
    cursor: pointer;
    transition: transform 500ms;

    &:hover {
      transform: scale(1.4);
      z-index: 1;
    }
  }

  ion-card-subtitle {
    font-size: 24px;
    margin-top: 8px;
  }

  ion-row {
    flex-wrap: nowrap;
  }

  .season-row {
    margin-left: -8px;
    overflow-x: hidden;
    height: 100%;
  }

  img {
    &:after {
      width: inherit;
      height: inherit;
      background: linear-gradient(to top, rgba(0, 0, 0, .9), transparent);
      z-index: 0;
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
    }
  }

  .card-col {
    display: contents;
  }

  ion-select::part(icon) {
    opacity: 1;
    margin-left: 1em;
    transform: scale(1.4);
  }

  ion-select::part(text) {
    font-size: 30px;
  }

}
